@charset "utf--8";
@import url('common.css');


/* 인사말 */
.int{
    width: 80%;
    margin: 100px auto;
}
.int div h2{}
.int div h3{
    margin: 3rem;
    font-size: 1.2rem;
    text-align: center;
}
.int div figure{
    width: 100%;
    margin: 0px auto;
    background-color: #051046;  

    display: flex;
    position: relative;
    overflow: hidden;
}
.int div figure > img{
    width: 30%;
}
.int div figure > p{
    background-color: #fff;
    width:70%; height: 80%;
    padding: 50px;
    border-radius: 15px;

    overflow: auto;
    position: absolute;
    left:20%; top:10%;
}
.int div figure p span{
    line-height: 1.7rem;
    word-break:keep-all;
    white-space: pre-line;
}
.int div figure p b{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
/* 주요업무 */
.int2{
    width: 80%;
    margin: 150px auto;}
.int2 >div{}
.int2 > div > h2{}
.content_icon1{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;

    max-width: 1200px;
    margin: 0 auto;
}
.content_icon1 p{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 40px;
}
.content_icon1 p img{
    padding:40px 0 10px 0;
}

.content_icon1 p img:hover{
        animation: icon 1s infinite;
}
@keyframes icon {
    0% {transform :translateY(0px);}
    50% {transform :translateY(-10px);}
    100% {transform :translateY(0px);}
} 

/* 센터안내 */
.int3{
    width: 80%; 
    overflow: hidden;
    margin: 150px auto;
}
.int3 div h2{margin:0;}
.int3 div > p{
    margin: 30px auto;
    line-height: 1.7rem;
}
.aquaCenter-list-text{
    text-align: center;
}
.aquaCenter-list-text span{
    padding: 5px 20px;
    border:1px solid #000;
    border-radius: 5px;
}
.aquaCenter-list{
    
}
.aquaCenter{
    display: flex;  
}
.center-img{
    position:relative;
}
.center-img >img:nth-child(2){
    position:absolute;
    width:100px;
    right:10px; top:10px;
    border: 1px solid #000;
}
.center-con{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
/* .logo li>span {
    position: relative;
    width:20px; height:20px;
}
.logo li>span::before{
    content:'';
    display: block;
    position: absolute;
    left: 0; top:0;
    width:100%; height: 3px;
    background-color: black;
    transform :translateX(-12px)rotate(45deg);
}
.logo li>span::after{
    content:'';
    display: block;
    position: absolute;
    left: 0; top:0;
    width:100%; height: 3px;
    background-color: black;
    transform :rotate(-45deg);
}
.logo li.active span::before{
    transition: 1s;
    transform :translateX(0)rotate(45deg);
}
.logo li.active span::after{
    transition: 1s;
    transform :translateX(-12px)rotate(-45deg);
} */

@media (max-width:767px){
    .int{
        width: 100%;
        margin: 40px auto;
    }
    .int div h2{
        font-size: 1.4rem;
    }
    .int div h3{
        margin: 5% 10%;
        font-size: 0.8rem;
    }
    .int div figure{
        width: 100%; height: 400px;
        margin: 0px auto;
        background-color: #051046;  
    
        display: flex;
        position: relative;
        overflow: hidden;

    }
    .int div figure > p{
        width:90%; height: 90%;
        padding: 10px;
        border-radius: 10px;
        left:5%; top:5%;
    }
    
    .int div figure p span{
        font-size: 0.8rem;
        line-height: 1.4rem;
        white-space: pre-line;
    }
    .int2{
        margin: 50px auto;
    }
    .int2 > div > h2{
        font-size: 1.4rem;
        margin-bottom: 0;
    }
    .content_icon1 p{
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 12rem; height: 10rem;
    }
    
    .content_icon1 p img:hover{
            animation: icon 1s infinite;
    }
    @keyframes icon {
        0% {transform :translateY(0px);}
        50% {transform :translateY(-10px);}
        100% {transform :translateY(0px);}
    } 
    /* .content_icon1 p img{
        padding: 5px;
    }
    .content_icon1 p span{
        font-size: 0.8rem; */

    .int3{
        width: 90%; 
        margin: 50px auto;
    }
    .int3 div h2{
        font-size: 1.4rem;
        padding-bottom:30px;
    }
    .int3 div > p{
        display: none;
    }
}