@charset 'utf--8';
@import url('common.css');

.main_nav> li:nth-child(3)>a{
    color: #f77f58;
}

/* 구조 및 치료 활동 */
.b2_1{
    width: 80%;
    min-width: 900px;
    margin: 100px auto;
}
.b2_1 > div{}
.b2_1 > div > h2{}
.b2_1 > div > p{
    text-align: center;
    line-height: 1.6rem;
    margin: 50px auto;
    word-break: keep-all;
}
.b2_1 > div > figure{}
.rescue{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.rescue li{
    width: 32%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.case_img{
    box-shadow: 2px 2px 10px rgba(0,0,0,0);
    transition: 0.4s;
}
.case_img a{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.case_img a img{
    width: 100%;
}
.case_img:hover{
    transform:translate(0,-10px);
    box-shadow: 4px 4px 10px rgba(0,0,0,4);
}
.case_con{}
.case_con a{}
.case_con a h3{
    margin:15px;
    font-size: 1.2rem;
}
.case_con a p{}
.bt_more1, .bt_more2 {
    width: 150px;
    margin: 70px auto;
    border:1px solid #000;
    padding: 10px 30px;
    text-align: center;
}
.bt_more1:hover, .bt_more2:hover{
    font-weight: bold;
}


/* 보전활동 */

.b2_2{
    width: 80%;
    min-width: 900px;
    margin: 150px auto;
}
.b2_2 > div{}
.b2_2 > div > h2{}
.b2_2 > div > div{
    text-align: center;
    line-height: 1.6rem;
    margin: 50px auto;
    word-break: keep-all;
}
.b2_2 > div > figure{}
.conserve{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.conserve li{
    width: 32%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.conserve_img{
    box-shadow: 2px 2px 10px rgba(0,0,0,0);
    transition: 0.4s;
}
.conserve_img a{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.conserve_img a img{
    width: 100%;
}
.conserve_img:hover{
    transform:translate(0,-10px);
    box-shadow: 4px 4px 10px rgba(0,0,0,4);
}
.conserve_con{}
.conserve_con a{}
.conserve_con a h3{
    margin:15px;
    font-size: 1.2rem;
}
.conserve_con a p{}

    /* 법률정보 */
.b2_3{}
.b2_3 h2{
    margin: 150px 0 auto;
}
.b2_3 > p{
    width: 80%;
    margin: 30px auto;
}
.b2_3 > p > a{
    border: 1px solid #ff6633;
    border-radius: 8px;
    margin-right: 20px;
    padding: 3px 15px;
}
.b2_3 > p > a.active{
    font-weight: bold;
    background: #ff6633;
    color: #fff;
}
.b2_3> p> a:hover{
    font-weight: bold;
    background: #ff6633;
    color: #fff;
    cursor: pointer;
}   
.back_3{
    background: #264c96 url(../img/aqua_intro2.jpg)no-repeat  0 0/ 100%;
    padding:30px 0;
    margin: 0 0 100px 0;
}   
.back_3 > div{
    width: 80%;
    min-width: 900px;
    margin: 0px auto;   
    background-color: #fff;
    border-radius: 15px;
    padding: 50px;
}
.law_aft{
    display: none;
}
.law_aft.active{
    display: block;
    white-space: pre-line;
}


@media (max-width:767px){
    .b2_1,.b2_2{
        width: 90%;
        min-width: 500px;
        margin: 100px auto;
    }
    .b2_1 > div > p{
        line-height: 1rem;
        margin: 30px auto;
    }
    .b2_2 > div > div{
        line-height: 1rem;
        margin: 30px auto;
    }
    .rescue li,.conserve li{
        width: 49%;
        margin-bottom: 50px;
    }
}

