@charset "utf--8";
@import url('common.css');




/* 인사말 */
.int{
    width: 80%;
    margin: 100px auto;
}
.int div h2{}
.int div h3{
    margin: 3rem;
    font-size: 1.2rem;
    text-align: center;
}
.int div figure{
    width: 100%;
    margin: 0px auto;
    background-color: #051046;  

    display: flex;
    position: relative;
    overflow: hidden;
}
.int div figure > img{
    width: 30%;
}
.int div figure > p{
    background-color: #fff;
    width:70%; height: 80%;
    padding: 50px;
    border-radius: 15px;

    overflow: auto;
    position: absolute;
    left:20%; top:10%;
}
.int div figure p span{
    line-height: 1.7rem;
    word-break:keep-all;
    white-space: pre-line;
}
.int div figure p b{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
/* 주요업무 */
.int2{
    width: 80%;
    margin: 150px auto;}
.int2 >div{}
.int2 > div > h2{}
.content_icon1{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;

    max-width: 1200px;
    margin: 0 auto;
}
.content_icon1 p{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 40px;
}
.content_icon1 p img{
    padding:40px 0 10px 0;
}

.content_icon1 p img:hover{
        animation: icon 1s infinite;
}
@keyframes icon {
    0% {transform :translateY(0px);}
    50% {transform :translateY(-10px);}
    100% {transform :translateY(0px);}
} 

/* 센터안내 */
.int3{
    width: 80%; 
    overflow: hidden;
    margin: 150px auto;
}
.int3> div{}

.int3 div h2{margin:0;}
.int3 div > p{
    margin: 30px auto;
    line-height: 1.7rem;
}
.logo{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.logo li{
    width: 90%;
    padding: 2px 10px;
    margin: 0 auto;
    border-top: 1px solid #051046;

    display: flex;
    justify-content:space-between;
    align-items: center;

    overflow: hidden;
}
.logo li:nth-last-child(1){
    border-bottom: 1px solid #051046;
}
.logo li a{
    width: 150px; height: 80px;
    background-color: #051046;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-shrink: 0;
}
.logo li a > img{
    width: 100px;
}
.logo li>span {
    position: relative;
    width:20px; height:20px;
}
.logo li>span::before{
    content:'';
    display: block;
    position: absolute;
    left: 0; top:0;
    width:100%; height: 3px;
    background-color: black;
    transform :translateX(-12px)rotate(45deg);
}
.logo li>span::after{
    content:'';
    display: block;
    position: absolute;
    left: 0; top:0;
    width:100%; height: 3px;
    background-color: black;
    transform :rotate(-45deg);
}
.logo li.active span::before{
    /* transition: 1s; */
    transform :translateX(0)rotate(45deg);
}
.logo li.active span::after{
    /* transition: 1s; */
    transform :translateX(-12px)rotate(-45deg);
}

/* 
    animation: open2 1s forwards;
}   
@keyframes open2 {
    0% {transform :rotate(45deg);}
    100% {transform :rotate(-45deg);}
}  
*/
.open{
    width: calc(100% - 200px); height:85px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:.5s;
    flex-shrink: 0;
    padding:20px 0;
    opacity: 0;
}
.open.active{
    opacity: 1;
    height: 300px;
} 
    /* animation: open 1.5s forwards;
}
@keyframes open {
    0% {transform :translateY(-50px); height:80px}
    100% {transform :translateY(0px); height:300px} */
.open img{
    width: 40%; 
    border-radius: 10px;
    padding: 0 20px;
}
.open-r{
    width: 56%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.open-r span{
    text-align: center;
    white-space: pre-line;
}
.open-r div{
    display: flex;
    width: 100%;
}
.open-r div a{
    width: 50%;    height: 27px;
    margin: 10px 1px;
    padding: 3px 10px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    background: #f74;
    font-weight: bold;
}
.open-r div a:nth-child(2):hover{
    cursor: pointer;
}
.open-r small{
    text-align: left;
    white-space: pre-line;
    padding-bottom: 10px;
}

/* .popimg a {display: none;}
.popimg a.active{
    display:block;
    position:fixed;
    left:0; top:20%;
    width:50%;
    animation: pop22 1.5s forwards;
    opacity:0;
}
@keyframes pop22 {
    0% {transform:translateX(0);}
    100% {opacity:1; transform:translateX(50%)}
} */

@media (max-width:767px){
    .int{
        width: 100%;
        margin: 40px auto;
    }
    .int div h2{
        font-size: 1.4rem;
    }
    .int div h3{
        margin: 5% 10%;
        font-size: 0.8rem;
    }
    .int div figure{
        width: 100%; height: 400px;
        margin: 0px auto;
        background-color: #051046;  
    
        display: flex;
        position: relative;
        overflow: hidden;

    }
    .int div figure > p{
        width:90%; height: 90%;
        padding: 10px;
        border-radius: 10px;
        left:5%; top:5%;
    }
    
    .int div figure p span{
        font-size: 0.8rem;
        line-height: 1.4rem;
        white-space: pre-line;
    }
    .int2{
        margin: 50px auto;
    }
    .int2 > div > h2{
        font-size: 1.4rem;
        margin-bottom: 0;
    }
    .content_icon1 p{
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 12rem; height: 10rem;
    }
    
    .content_icon1 p img:hover{
            animation: icon 1s infinite;
    }
    @keyframes icon {
        0% {transform :translateY(0px);}
        50% {transform :translateY(-10px);}
        100% {transform :translateY(0px);}
    } 
    /* .content_icon1 p img{
        padding: 5px;
    }
    .content_icon1 p span{
        font-size: 0.8rem; */

    .int3{
        width: 90%; 
        margin: 50px auto;
    }
    .int3 div h2{
        font-size: 1.4rem;
        padding-bottom:30px;
    }
    .int3 div > p{
        display: none;
    }
    .logo li{
        position:relative;
    }
    .logo li a{
        transform:translateX(40px)
    }
    .logo li.active{
        height: 450px;
    }
    .logo li.active > a{
        z-index: 1000;
        background: none;
        transform: translateY(-160px);
    }
    .open{
        position:absolute;
        min-width: 350px;
        left:0; top:15%;
        flex-direction: column;
    }
    .open.active{} 
    .open img{
        width: 90%; 
    }
    .open-r{ 
        width: 90%; 
        align-items: center;
    }
    .open-r div a:nth-child(1){
        width:60%;
    }
    .open-r div a:nth-child(2){
        width:40%;
    }
    .logo li>span {
        width: 12px; height: 12px;
    }
    .logo li>span::before{
        height: 2px;
        transform :translateX(-8px)rotate(45deg);
    }
    .logo li>span::after{
         height: 2px;
    }
    .logo li.active span::after{
        /* transition: 1s; */
        transform :translateX(-8px)rotate(-45deg);
    }

}