@charset 'utf--8';
@import url('common.css');


/* 영상 */
/* .b3_1{
    width: 80%;
    margin: 100px auto;
}
.b3_1 figure{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-width: 800px;
}
.b3_1 figure div{
    width:28%;   
    display: flex;
    flex-direction:column;


}
.b3_1 figure div img{}
.b3_1 figure div p:nth-child(1){
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 30px;    
}
.b3_1 figure div p:nth-child(1) a{
    font-size: 1.3rem;
    color:#ff6633;
}
.b3_1 figure div p:nth-child(2){}
.b3_1 figure video{
    width: 70%;
    border:1px solid #000;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}
 */

/* 보호대상 해양생물 */
.b3_2{
    width:80%; 
    margin:0 auto;
    margin-bottom: 150px;
}
.b3_2 h2{}
.b3_2 p{
    line-height: 1.6rem;
    text-align: center;
    margin: 50px auto;
}
.b3_2 p strong{
    color:#ff6633;
}
.b3_2 figure{
    justify-content: space-between;
    margin: 80px 0 20px 0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    display:none;
}
.b3_2 figure.active{
    display: flex;
    height: 550px;
}
.b3_2 figure div:nth-child(1):before{
    content:'';
    display:block;
    clear:both;
    width: 150px; height: 2px;
    background: #ff6633;
    font-size: 14px;
}
.con_lef{
    width: 50%;   height:100%;
    padding: 10px 20px;
    overflow: auto;
}
.con_lef small{
    margin: 20px 0;
}
.con_lef h3{
    padding:50px 0;
    text-align: center;
    font-size: 1.6rem;
}
.con_lef p{
    text-align: center;
}
.con_rig{
    width: 50%; height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.con_rig img{
    width: 100%;
}
.con_list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.con_list li{
    border:1px solid #ff6633;
    padding:2px 10px;
    margin: 2px 5px;
    border-radius:10px;
}
.con_list li:hover{
    cursor: pointer;
}
.con_list li.active{
    background: #ff6633;
    font-weight: bold;
    color:#fff;
}

/* 학습게시판 */
.b3_3{
    width:80%; margin:150px auto; 
}
.b3_3 form{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.b3_3 form input{
    border: none;
    text-align: center;
    outline-style: none;
    border-bottom: 2px solid #000;
}
.b3_3 form button{
    width: 45px;height: 28px;
    background-color: #fff;
    border: none;
}
.b3_3 form button img{
    width:100%;
}

.study{}
.study tbody{}
.study tbody tr{
    width:100%;
    border:1px solid #ff6633;
    border-left: none;
    border-right: none;
}
.study tbody tr td{}
.study tbody tr td:nth-child(1){
    width: 15%; 
    padding:15px;
    text-align: center;
}
.study tbody tr td:nth-child(1) b{
    display: block;
    font-size: 80px;
    color:rgb(90, 90, 90);
    }
.study tbody tr td:nth-child(2){
    min-width:150px;
    overflow: hidden;
    position: relative;;
}
.study tbody tr td:nth-child(2) img{
    width: 100%;
    transition:0.5s;
}
.study tbody tr td:nth-child(2) p{
    position: absolute;
    left: 0; top:0;
    width:100%; height: 100%;
    background: rgba(0,0,0,0.2);
    transition: 0.7s;
    font-size: 0;
}
.study tbody tr td:nth-child(3){
    width:70%;
    min-width: 400px;
    padding-left: 5%;
}
.study tbody tr td:nth-child(2):hover p{
    background: rgba(0,0,0,0);
    cursor: pointer;
}
.study tbody tr td:nth-child(3) a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.pg_num{
    width: 600px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}
.pg_num li{
        width: 30px;}
.pg_num li a{
    width: 100%;
    font-size: 12px;
}
.pg_num li:nth-child(3) a{
    font-size: 14px;
    font-weight: bold;
    color: #ff6633;
}
.pg_num li:hover{
    cursor: pointer;
}
.pg_num li:hover a{
    font-size:14px;
    color: #ff6633;
}

@media (max-width:767px){
    .b3_1{
        width: 90%;
        margin: 100px auto;
    }
    .b3_1 figure{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-width: 400px;
    }
    .b3_1 figure div{
        width:100%;   
        display: flex;
        flex-direction:column;
    }
    .b3_1 figure div img{
        width:60%;
    }
    .b3_1 figure div p{
        margin: 30px 0;
    }
    .b3_1 figure div p:nth-child(1){
        font-size: 1rem;}
    .b3_1 figure video{
        width: 100%;
    }
    .b3_2{
        width:90%; margin:100px auto;
    }
    .b3_2 h2{
        font-size: 1.6rem;
    }
    .b3_2 p{
        margin: 30px auto;
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
    .b3_2 figure{
        flex-direction: column;
        height: auto;
    }
    .con_lef{
        width: 100%;    height: 50%;
        padding: 10px 20px;
        overflow: auto;
    }
    .con_lef h3{
        padding:30px 0;
        font-size: 1.4rem;
    }
    .con_rig{
        width: 100%; height: 50%;
        overflow: hidden;
    }
    .con_rig img{
        width: 100%;
        max-width: 300px;
    }
    .b3_3{
        width:90%; margin:100px auto; 
    }
    .study tbody tr td:nth-child(1) b{
        display: block;
        font-size: 1.4rem;
        color:rgb(90, 90, 90);
        }
    .study tbody tr td:nth-child(2){
        min-width:70px;
        overflow: hidden;
        position: relative;;
    }
    .study tbody tr td:nth-child(3){
        width:70%;
        min-width: 200px;
        padding-left: 5%;
    }
}