@charset 'utf--8';
@import url('common.css');

.main_nav> li:nth-child(2)>a{
    color: #f77f58;
}
.top_common{
    margin: 80px auto;
    width: 100%;
    height: 180px;
    background-color: #051046;

    position: sticky; top:0;
    z-index: 999;
}
.top_common > div{
    width: 80%;
    margin: 0 auto;  
}
.top_common > div > p{
    text-align: right;
    padding: 20px 30px;
    vertical-align: middle;

    position: sticky; top:100px;

}
.top_common > div > p > img{
    width: 10px;
    vertical-align: middle;
}
.top_common > div > p > span::before{
    content:">";
    clear:both;
    display: inline;
    margin: 5px;
}
.top_common > div > p > span{
    font-size: 12px;
    font-weight: bold;
    color: #ddd;}

.top_common > div > nav{
}
.top_common > div > nav > ul{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 70px;
}
.top_common > div > nav > ul > li{}
.top_common > div > nav > ul > li >a{
    font-size: 20px;
    font-weight: bold;
    color: rgb(63, 63, 138);
    transition: 0.5s;
}
.top_common > div > nav > ul > li:nth-child(1) a{
    font-size: 24px;
    color:#ddd;
}
.top_common > div > nav > ul > li:nth-child(1)::after{
    content: '/';
    display: inline;
    clear:both;
    font-size: 22px;
    font-weight: bold;
    color: rgb(62, 63, 139);
    padding: 25px;
}
.top_common > div > nav > ul > li:nth-child(3)::after{
    font-size: 0;
}
.top_common > div > nav > ul > li:nth-child(n) a:hover{
    color:#ddd; 
}

/* 연구분야 */
.b1_1{}
.b1_1 > div{
    width: 80%;
    margin: 0 auto;
}
.board_01{
    display:flex;
    justify-content: space-between;
}
.board_01 li{
    transform-style: preserve-3d;
    transition: 0.7s;

}
.flip{
    width: 350px; height: 300px;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.4);

    position: relative;
}
.front{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: absolute;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.front img{
    width: 100%; height: 200px;
    margin-bottom: 10px;
}
.front h3{
    font-size: 24px;
}
.front small{
    font-size: 12px;
    text-align: left;
    padding: 5px 15px 15px;
}
.back{
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.back p{ 
    font-size: 14px;
    padding: 15px;
}
.board_01 li:hover{
    transform: rotateY(180deg);
}


/* 수행연구 (게시판) */
.b1_2{
    width: 80%;
    margin:150px auto;
}
.b1_2 div{}
.b1_2 div h2{}
.b1_2 div p {

}   
.b1_2 > div > p > form{}
.search1{ 
    margin: 10px auto;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.search1 li{}
.search1 li:nth-child(1){}
.search1 li:nth-child(2){
    margin: 0 2px;
    border-bottom: 2px solid #000;
}
.search1 li:nth-child(3){}
.search1 li select{}
.search1 li select option{}
.search1 li input{
    border: 0 0 2px 0 solid #000;
}
.search1 li button{
    width: 45px;height: 28px;
    background-color: #fff;
    border: 0;
}
.search1 li button img{
    width: 100%;
}
.search1 li button:hover{
    cursor: pointer;
}


.search2{
    width: 100%;
    margin: 0 auto;
}
.search2 thead{}
.search2 th, td{
    line-height: 2;
}
.search2 thead tr{
    border-top: 1px solid #ff6633;
    border-bottom: 4px double #ff6633;
}
    
.search2 thead tr th{
    text-align: center;}
.search2 thead tr th:nth-child(1){
    min-width:70px;
}
.search2 thead tr th:nth-child(2){
    min-width:550px;
}
.search2 thead tr th:nth-child(3){
    min-width: 70px;
}
.search2 thead tr th:nth-child(4){
    min-width: 100px;
}

.search2 tbody{}
.search2 tbody tr{
    border-bottom: 1px solid #ff6633;

}  
.search2 tbody tr td{
    text-align: center;
}
.search2 thead tr td:nth-child(1){}
.search2 thead tr td:nth-child(2){
    text-align: left;
}
.search2 thead tr td:nth-child(3){}
.search2 thead tr td:nth-child(4){}

.pg_num{
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}
.pg_num li{
        width: 25px;}
.pg_num li a{
    width: 100%;
    font-size: 12px;
}
.pg_num li:nth-child(3) a{
    font-size: 14px;
    font-weight: bold;
    color: #ff6633;
}

.pg_num li:hover a{
    font-size:14px;
    color: #ff6633;
}