@charset 'utf--8';
@import url('common.css');

body{}




/* 메인페이지 1 */
.main_1{}
.main_1 div{   
    margin-top: 65px;
    width:100%; height : 400px;
    max-width: 1800px;
    overflow: hidden;   
    
    position: relative;
    left:50%;top:0;
    transform: translate(-50%,0);
}

#visual{
    margin:0; 
    height:100%; width:auto;
    display: flex;
    justify-content: flex-start;

    animation:vi 5s 2s infinite;
}
#visual img{ width:100%; flex-shrink:0;}
#visual span{
    position:absolute;
    width:70%;
    left:10%; top:3em;
    color: #fff;
    font-size: 32px;
    white-space: pre-line;
}   


@keyframes vi {
    0%{ transform: translateY(0%);}
    50%{ transform: translateY(-100%)}
    100%{ transform: translateY(-100%)}
}

.main_1 div p{
    position: absolute;
    display: flex;
    justify-content: space-around;

    left: 50%; top: 90%;
    transform: translate(-50%,0);
}
.main_1 div p a{
    width: 12px; height: 12px;
    margin: 5px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 0;
}
.main_1 p a:nth-child(1){
    background-color:rgba(255,255,255,0.7);}
.main_1 p a:nth-child(2){}
.main_1 p a:nth-child(3){}


/* 메인페이지 2 */
.main_2{
    width: 80%;
    margin: 100px auto;
    position: relative;
}
.main_2 div{}
.main_2 div h2{}
.main_2 > div >p{
    font-size: small;
    text-align: center;
    margin: 15px;
}
.slide{
    width: 100%;
    position: relative;
}
.slide div{}
.slide div figure{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.slide div figure a{
    position: relative; 
    margin-right: 25px;
    overflow: hidden;
    width: 350px;
    border-radius: 15px;
}
.slide div figure a:nth-child(3) {
    margin-right: 0;
}
.slide div figure a img{
    width: 100%;
}
.slide div figure a span {
    position: absolute;

    width:100%; height: 100%;
    padding: 60% 0;
    border-radius: 15px;    
    background:rgba(255, 255, 255, 0.7);
    left:0; bottom: 100; 

    color: #000;
    font-size: 24px;
    text-align: center;

    display: none; 
}
.slide div figure a:hover span {
    display: block;
    left:0; top:0;
}
.main_2 div .slide .btn {
    position: absolute;
    left:0; top:50%;
    width:100%;

    display:flex;
    justify-content: space-between;
}
.main_2> a{
    position: absolute;
    right: 0; top:30px;
    font-weight: bold;
    padding:0 10x;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    color:#051046;
}
.main_2 > a:hover {
    transform: translate(-2px,-2px);
}
.main_2::after{
    content: '';
    clear: both;
    display: block;

    padding-top:100px;
    border-bottom: 1px solid #ff6633;
    width: 100%;
}

/* 메인페이지 3 */

.main_3{
    width: 80%;
    margin: 100px auto;
    position: relative;
}


.main_3 div{}
.main_3 div h3{ 
    font-size: large;
    margin-bottom: 20px;
}

.research1{margin:0 auto;}

.research1 img{
    float:left;
    width: 50%;
    border-radius: 15px;
}
.research1 figure{
    margin-top: 150px;
    float: right;
    width: 50%;   height: 150px;
    padding-left: 20px; 
    overflow: hidden;
}

#res{
    height: 100%;
    animation:res1 5s 3s infinite;
}

@keyframes res1 {
    0%{ transform: translateY(0%);}
    50%{ transform: translateY(-100%)}
    100%{ transform: translateY(-200%)}
}

#res u{font-size: 24px;}
#res small{font-size: small;}


.main_3> a{
    position: absolute;
    right: 0; bottom:50px;
    font-weight: bold;
    padding:0 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    color:#000;
}  
.main_3 > a:hover {
    transform: translate(-2px,-2px);
}
.main_3::after{
    content: '';
    clear: both;
    display: block;

    padding-top:100px;
    border-bottom: 1px solid #ff6633;
    width: 100%;
}


/* 메인페이지 4 구조활동 */
.main_4 {
    width: 80%;
    margin: 100px auto;
    position:relative;

}
.main_4 div{}
.main_4 div h3{
    font-size: large;
    margin-bottom: 20px;
}
.main_4 div p{
    font-size: small;
    margin-bottom: 20px;
    font-size: small;
}
.gallery{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery li{
    width: 24%; height:200px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
.gallery li img{ 
    width: 100%; height:100%;
    overflow: hidden;
}
.gallery li a{
    position: absolute;
    background: rgba(0, 0, 0 , 0.6);
    left:-100%; bottom:-100%;
    width:100%;
    height:100%;
}   

.gallery li:hover img{
    transform: rotate(5deg);

}
.gallery li:hover a{ 
    left:0%; bottom:0%;
}


.main_4 > a{
    position: absolute;
    right: 0; top:20px;
    font-weight: bold;
    padding:0 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    color:#000;
}  
.main_4 > a:hover {
    transform: translate(-2px,-2px);
}




@media (max-width:767px){
    
}